.booking {
  width: 80%;
  margin: 6rem auto 3rem;
}

.booking h1 {
  color: var(--prim-green);
  font-size: 3rem;
  text-align: center;
}

form {
  display: grid;
  /* width: 100%; */
  max-width: 30rem;
  grid-row-gap: 0.25rem;
  margin: 0 auto;
  padding: 1.2rem 2rem;
  background: var(--prim-green);
  /* border: 1px solid #000; */
  border-radius: 0.75rem;
  justify-items: space-between;
}

label {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  padding-top: 1rem;
}

input[type='date'],
select,
input[type='number'] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.errorMsg {
  color: #e63b2e;
  font-size: 1.3rem;
}

.btnPrimary {
  /* margin-top: 4rem; */
  margin-bottom: 0rem;
}

.btnPrimary:disabled,
.btnPrimary[disabled] {
  border: 1px solid var(--sec-gray);
  background-color: var(--sec-gray);
  color: #666666;
  cursor: default;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 58%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 52%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 55%;
  }
}
