/* reset styles */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Karla', serif;
}

:root {
  --prim-green: #495e57;
  --prim-yellow: #f4ce14;
  --sec-salmon: #ee9972;
  --sec-peach: #fbdabb;
  --sec-gray: #edefee;
  --sec-black: #333333;
}

/* basic styles */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto; /* centers the body contents on the page */
  /* row-gap: 1rem; */
  font-size: 1.6rem;
  line-height: 1.5;
  /* border: 1px solid red; */
}

/* Flexible Images */
img {
  max-width: 100%;
  height: auto;
}

a {
  /* color: #337ab7; */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: 'Markazi Text', serif;
  line-height: 1.1;
}

h1 {
  font-size: 5.4rem;
}

h3 {
  font-size: 4rem;
}

.btnPrimary {
  background: var(--prim-yellow);
  font-size: 1.8rem;
  color: var(--sec-black);
  font-weight: 600;
  font-family: 'Karla';
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 8vh;
  width: 80%;
  max-width: 80%;
  /* box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1); */

  /* border: 1px solid var(--prim-green); */
}

header .logo {
  display: flex;
  align-items: center;
  min-width: 3rem;
  width: 15%;
  /* border: 1px solid green; */
}
header .logo img {
  max-width: 100%;
  /* min-width: 5rem; */
  height: 100%;
}
header #menu-bar {
  font-size: 3rem;
  color: var(--sec-black);
  cursor: pointer;
  display: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8vh;
  width: 85%;

  /* border: 1px solid green; */
}

nav ul {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 8vh;

  /* border: 1px solid red; */
}

nav ul li {
  /* flex: 1 1 auto; */
  margin-right: 0.5rem;
  font-family: 'Markazi Text';
  font-size: 1.6rem;
  font-weight: 600;
}

/* nav ul li:last-child {
  margin-left: 4rem;
  margin-right: 0rem;
} */

nav li a {
  /* display: inline-block; */
  color: var(--sec-black);
  padding: 0.75rem 1.25rem;
  transition: background-color 0.2s ease;
  text-decoration: none;
  border-radius: 1rem;
}

nav ul li a.active,
nav ul li a:hover {
  background-color: var(--prim-yellow);
}

/* Hero section */
.hero {
  display: flex;
  max-height: 40vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: 0 auto; */
  background: var(--prim-green);
  padding-bottom: 1rem;
  /* border: 1px solid pink; */
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-height: 40vh;
  width: 80%;

  /* border: 1px solid green; */
}

.hero-info {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 1.5rem;
  /* border: 1px solid black; */
}

.img-hero {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid pink; */
}
.img-hero img {
  width: 60%;
  height: 70%;
  min-height: 15rem;
  min-width: 15rem;
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 0.5rem;
  object-fit: fill;
}
.hero-info h1 {
  /* height: 20%; */
  font-size: 6.4rem;
  color: var(--prim-yellow);
  font-weight: bold;
  font-family: 'Markazi Text';
  /* margin-top: -1rem; */
}
.hero-info h3 {
  /* height: 25%; */
  font-size: 4rem;
  color: white;
  font-weight: normal;
  font-family: 'Markazi Text';
  margin-top: -2rem;
}
.hero-info p {
  /* height: 35%; */
  font-size: 1.6rem;
  color: white;
  font-weight: normal;
  font-family: 'Karla';
  margin-bottom: 1rem;
  min-width: 10rem;
  text-align: justify;
  overflow-x: hidden;
  /* max-width: 90%; */
}
.hero-info .btnPrimary {
  /* height: 20%; */
  margin-top: 1.5rem;
}

/*Section - Specials*/
.specials {
  display: flex;
  flex-direction: column;
  /* height: 40vh; */
  width: 80%;
  margin: 0 auto;
  row-gap: 2rem;
  margin-top: 3rem;
  /* justify-content: center; */
  /* border: 1px solid blue; */
}
.specials-top {
  /* margin-top: 1rem; */
  display: flex;
  justify-content: space-between;
}

.specials-top h2 {
  font-family: 'Karla';
  font-size: 2rem;
  font-weight: 800;
}
.specials-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.dish {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  /* margin: 1rem; */
  border: 1px solid var(--sec-gray);
  border-radius: 0.5rem;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06); */
}
.dish img {
  width: 100%;
  height: auto;
  border: 0.25 solid var(--sec-gray);
  border-radius: 1.5rem 1.5rem 0 0;
}
.dish .dish-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--sec-gray);
  padding: 1.5rem;
}
.dish-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.dish-header h3 {
  font-family: 'Karla';
  font-size: 1.8rem;
  font-weight: bold;
}
.dish-header p {
  font-family: 'Karla';
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--sec-salmon);
}
.dish .dish-desc {
  color: var(--prim-green);
  text-align: justify;
}
.dish .btnOrder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.6rem;
  color: var(--prim-green);
  font-weight: 700;
  padding-top: 2rem;
}
.dish .btnOrder:hover {
}

.dish .btnOrder img {
  height: 3rem;
  width: 2rem;
  margin-left: 1rem;
}

.testimonials {
  display: flex;
  /* height: 30vh; */
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding-bottom: 3rem;
  background: var(--sec-gray);
  /* border: 1px solid brown; */
}

.test-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 80%;
  max-width: 80%;
  padding-top: 2rem;
  /* border: 1px solid green; */
}

.testimonial {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 2rem;
}
.testimonial-card {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.5rem;
  background: #ffff;
  border: 1px solid var(--sec-gray);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  max-height: 30rem;
  overflow: hidden;
}
.testimonial-card .reviewer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.testimonial-card .reviewer .img-reviewer {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
}
.testimonial-card . p {
  text-align: justify;
  overflow: hidden;
}
.testimonial-card .reviewer p {
  font-weight: bold;
}

/*About Section*/
.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;

  /* border: 1px solid; */
}

.about-detail {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* border: 1px solid green; */
}
.about-detail h1 {
  font-family: 'Markazi Text';
  font-size: 6.4rem;
  color: var(--prim-green);
  margin-bottom: -1rem;
}
.about-detail h3 {
  font-family: 'Markazi Text';
  font-size: 4rem;
  color: var(--prim-green);
  margin-bottom: 1.5rem;
}

.about-detail p {
  color: var(--prim-green);
  min-width: 20rem;
  max-height: 20rem;
  overflow: hidden;
}

.img-about-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  /* border: 1px solid yellow; */
}

#bottom-image {
  max-width: 80%;
  max-height: 80%;
  border: 1px solid var(--sec-gray);
  border-radius: 0.5rem;
}

/*Footer*/
footer {
  display: flex;
  /* height: 35vh; */
  width: 100%;
  margin: 2rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--prim-green);
  color: #fff;
  /* border: 1px solid purple; */
}

.footer-container {
  display: flex;
  width: 80%;
  /* max-width: 80%;
  max-height: 40rem; */
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-logo {
  text-align: left;
  padding: 2rem 0;
  flex-basis: 25%;
  /* border: 1px solid pink; */
}

.footer-logo img {
  max-width: 80%;
  height: 80%;
}

.nav-links {
  flex-basis: 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem 0;
  /* border: 1px solid purple; */
}

.nav-links-column {
  /* max-width: 40%; */
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 2rem;
  /* border: 1px solid green; */
}

.nav-links-column h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-family: 'Karla';
}

.nav-links-column .links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links-column .links li {
  margin-bottom: 0.35rem;
}

.nav-links-column a {
  color: #fff;
  transition: background-color 0.2s ease;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.nav-links-column a:hover {
  color: #fff;
  text-decoration: underline;
  background: var(--prim-yellow);
  color: var(--sec-black);
}

/*Media Queries*/

@media screen and (max-width: 1200px) {
  html {
    font-size: 62.5%;
  }
  /* .nav-links-column {
    flex-basis: 30%;
  } */
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
  .testimonial-card {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 52%;
  }
  .dish {
    width: 48%;
  }
  .testimonial-card {
    width: 46%;
  }
  .about-detail h1 {
    font-size: 5rem;
  }

  /* .nav-links {
    width: 100%;
  } */
  .nav-links-column {
    flex-basis: 45%;
  }

  .nav-links > :first-child {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 55%;
  }

  /*Hero */
  .img-hero {
    display: none;
    width: 0%;
  }
  .hero-info {
    width: 100%;
  }
  .hero-info h1 {
    font-size: 4.5rem;
  }
  .hero-info h3 {
    font-size: 3rem;
    margin-top: -1rem;
  }
  .dish {
    width: 100%;
  }
  .testimonial-card {
    width: 100%;
  }

  /*About */

  .about {
    flex-direction: column;
  }
  .about-detail,
  .image-about-container {
    flex-basis: 100%;
  }

  .about-detail h1 {
    font-size: 4.5rem;
  }
  .about-detail h3 {
    font-size: 3rem;
    margin-top: 0rem;
  }

  /*Footer*/
  .nav-links-column {
    flex-basis: 100%;
  }
  .footer-logo {
    display: none;
  }
}
