/* reset styles */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Karla', serif;
}

:root {
  --prim-green: #495e57;
  --prim-yellow: #f4ce14;
  --sec-salmon: #ee9972;
  --sec-peach: #fbdabb;
  --sec-gray: #edefee;
  --sec-black: #333333;
}

/* basic styles */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Karla';
}

body {
  max-width: 1440px;
  margin: 0 auto; /* centers the body contents on the page */
  font-size: 1.6rem;
  line-height: 1.5;
  /* border: 1px solid red; */
}

/* Flexible Images */
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: 'Markazi Text', serif;
  line-height: 1.2;
}

h1 {
  font-size: 5.4rem;
}

h3 {
  font-size: 4rem;
}

.btnPrimary {
  background: var(--prim-yellow);
  font-size: 1.8rem;
  color: var(--sec-black);
  font-weight: 600;
  font-family: 'Karla';
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  border: 2px solid #f4ce14;
  margin-bottom: 1rem;
  transition: background-color 0.2s ease-in-out;
}
.btnPrimary:hover {
  cursor: pointer;
  background-color: #d1b207;
  border-color: #000;
  /* color: #ffffff; */
}

/*Media Queries*/

@media screen and (max-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 52%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 55%;
  }
}
